@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-form {
    width: 600px;
    height: 830px ;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    align-items: center;
}

.logo {
    font-size: 60px;
    margin-bottom: 20px;
    color: blue;
    font-weight: bold;
}

.title{
    font-size: 80px;
    font-weight: bold;
    width: 80%;
    height: 17%;
    margin: 20px;
    border-bottom: 8px blue solid;
}

.input-form{
    margin: 20px 100px;
    display: flex;
    width: 80%;
    flex-direction: column;
}

.input-form-content {
    margin-bottom: 15px;
    height: 40px;
    display: flex;
    align-items: center;
 }

 .input-form-content label {
    flex: 1;
    text-align: left; /* 변경된 부분: 왼쪽 정렬 */
    margin-right: 10px;
}

.input-form-content input {
    flex: 2;
    width: 100px;
    height: 40px;
}

.submit {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}
  
.submit:hover {
    background-color: #0056b3; /* 마우스를 올렸을 때의 배경색 변경 */
    color: white;
}